
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("Bilder/Desert.jpg");

}


header {
  background-color: hsl(247, 98%, 35%);
  padding: 40px;
  border-radius: 1cm;
  text-align: center;
  font-size: 60px;
  color: rgb(255, 180, 29);
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 60%;
}

.flex-item-large {
  width: 25%;
  flex: none;
}

.flex-item-secondary {
  all: unset;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-style: solid;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: hsla(0, 100%, 50%, 0);
}

.flex-container > div {
  background-color: hsla(0, 0%, 78%, 0.883);
  margin: 10px;
  text-align: center;
  border-radius: 1cm;
  line-height: 40px;
  font-size: 20px;
  border-style: solid;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  border-style: solid;
  width: 20%;
  }

nav {
  float: left;
  width: 30%;
  height: 420px;
  padding: 20px;
  background-color: hsla(0, 0%, 78%, 0.584);
  border-radius: 1cm;
  border-style: solid;
}

main {
  float: right;
  width: 60%;
  padding: 20px;
  background-color: hsla(0, 0%, 78%, 0.584);
  border-radius: 0.5cm;
  border-style: solid;
}